<section class="container general-bg">
  <!-- Cards for recent listings -->
  <div class="d-flex justify-content-between align-items-center pt-4 pb-2 px-4">
    <h3 class="">Recent Listings</h3>
    <a href="/Listings">View all</a>
  </div>
  <!-- <h3 class="pt-4">Recent Listings</h3>
  <div class="anchor text-right">
    <a class="right mb-2 mr-auto" href="/Items">View all</a>
  </div> -->
  <div class="card-deck mb-4">
    <div class="card text-center" *ngFor="let listing of recentListings">
      <div>
        <img src="{{ listing.item.image }}" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ listing.item.name |titlecase }}</h5>
        <p class="card-text">Listed by {{ listing.seller.name }}</p>
        <button class="btn btn-primary btn-sm">Request Trade</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ listing.created_at | date:"mediumDate"}}</small>
      </div>
    </div>
  </div>

  <!-- Cards for recent listings -->
  <div class="d-flex justify-content-between align-items-center pt-4 pb-2 px-4">
    <h3 class="">Recent Wishes</h3>
    <a href="/Wishes">View all</a>
  </div>
  <div class="card-deck mb-4">
    <div class="card text-center" *ngFor="let wish of recentWishes">
      <div>
        <img src="{{ wish.item.image }}" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ wish.item.name |titlecase }}</h5>
        <p class="card-text">Wished by {{ wish.user.name }}</p>
        <button class="btn btn-primary btn-sm">Request Trade</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ wish.created_at | date:"mediumDate"}}</small>
      </div>
    </div>
  </div>
</section>
