$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$yiq-contrasted-threshold: 200;
$new-primary: #54B7AD;
$new-secondary: #7688D4;
$leaf-bg: "/assets/images/teal_leaf_bg.png";
$blue: #54B7AD;

